.countDown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: aliceblue;
  font-weight: 500;
  margin-top: -40px;
}

.countDown > div {
  display: flex;
  align-items: center;
}
.countDown > div > h4 {
  font-size: larger;
  font-weight: 400;
}
