.timerContainer {
  width: 250px;
  padding: 2px 0 10px ;
  margin: auto;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  background-color: rgb(122, 121, 120);
  margin-bottom: 20px;
  margin-top: -10px;
}



