.container{
    background-color: rgb(98, 4, 180);
}
.inputField{
    width: 490px;
    height: 50px;
    font-size: 22px;
    background-color: rgb(221, 255, 244);
    text-align: center;
}
.fristDiv >label{
    /* gap: 50px; */
    font-size: 19px;
    
}
.fristDiv >input{
   width: 55px;
   height: 25px;
   font-size: 18px;
   margin-left: 10px;
}
.wordContainer{
    width: 495px;
    height: 60px;
    background-color: rgb(255, 194, 82);
    justify-content: center;
    margin: auto;
    align-items: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.bottomDiv{
    display: flex;
    gap: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: rgb(251, 248, 254);
    margin: auto;
    justify-content: center;
}

